{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main>
    <div class="container-fluid mb-5">
        <div id="carouselIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <picture>
                        <source media="(min-width:1366px)" srcset="{{ asset('img/slider/1920x1080-img1.jpg') }}" class="d-block w-100" alt="...">
                        <source media="(min-width:992px)" srcset="{{ asset('img/slider/1366x768-img1.jpg') }}" class="d-block w-100" alt="...">
                        <img src="{{ asset('img/slider/992x558-img1.jpg') }}" class="d-block w-100" alt="...">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source media="(min-width:1366px)" srcset="{{ asset('img/slider/1920x1080-img2.jpg') }}" class="d-block w-100" alt="...">
                        <source media="(min-width:992px)" srcset="{{ asset('img/slider/1366x768-img2.jpg') }}" class="d-block w-100" alt="...">
                        <img src="{{ asset('img/slider/992x558-img2.jpg') }}" class="d-block w-100" alt="...">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source media="(min-width:1366px)" srcset="{{ asset('img/slider/1920x1080-img3.jpg') }}" class="d-block w-100" alt="...">
                        <source media="(min-width:992px)" srcset="{{ asset('img/slider/1366x768-img3.jpg') }}" class="d-block w-100" alt="...">
                        <img src="{{ asset('img/slider/992x558-img3.jpg') }}" class="d-block w-100" alt="...">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source media="(min-width:1366px)" srcset="{{ asset('img/slider/1920x1080-img4.jpg') }}" class="d-block w-100" alt="...">
                        <source media="(min-width:992px)" srcset="{{ asset('img/slider/1366x768-img4.jpg') }}" class="d-block w-100" alt="...">
                        <img src="{{ asset('img/slider/992x558-img4.jpg') }}" class="d-block w-100" alt="...">
                    </picture>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid" id="accueil-categories">
        <div class="row">
            <div class="col-12">
                <h2 class="text-uppercase text-center py-3 m-0 bg-gray1">sports</h2>
            </div>
        </div>

        <div class="row">
            {% for categorie in categories %}
                        <div class="col-6">
                            <a href="{{ path('categories', {'cat': categorie.nom}) }}">
                                <img src="{{ asset('img/1-categories/') ~ categorie.img }}">
                            </a>
                            <h3 class="text-center"> {{ categorie.nom }} </h3>
                        </div>
            {% endfor %}  

        </div>
    </div>

</main>
<a href="#" class="btn">
    <p class="arrow">^</p> 
</a>
{% endblock %}
