{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-flui col-6 mx-auto">
        <h1 class="text-center">Inscription</h1>
        <p class="text-center">Déjà un compte? <a href="{{ path('app_login') }}">Connexion</a></p>

        {{ form_start(registrationForm) }}

            <div class="row mb-3">
                {{ form_row(registrationForm.pseudo) }} 
            </div>

            <div class="row mb-3">
                {{ form_row(registrationForm.email) }}
            </div>
                
            <div class="row mb-3">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </div>
            
            <div class="row mb-3">
                {{ form_row(registrationForm.agreeTerms, {
                    label: "J'accepte les conditions d'utilisation."
                }) }}
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    
    </div>
{% endblock %}
