{% extends 'base.html.twig' %}

{% block title %} {{produit.nom}} {% endblock %}

{% block body %}

<div class="col-6 mx-auto">

    <div class="card mb-5">
        <img src="{{ asset('img/produit/') ~ produit.img }}" alt="Image non disponible." class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">{{ produit.nom }}</h2>
            <p class="card-text overflow-auto">{{ produit.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Prix&thinsp;: {{ produit.prix }}&thinsp;€</li>
        </ul>
        <a href="{{ path('panier_ajout', {'id': produit.id }) }}" class="btn btn-success text-white" style="font-weight: bolder;">
            <i class="fas fa-shopping-cart mr-1"></i>
            Ajouter au panier
        </a>
    </div>
</div>

{% endblock %}