{% extends 'base.html.twig' %}

{% block title %}Produit #{{ produit.id }} {% endblock %}

{% block body %}

    <h1>{{ produit.nom }}</h1>

    <img src="img/{{ produit.img }}" alt="Image non disponible.">

    <p>{{ produit.description }}</p>

    <p>Prix&thinsp;: {{ produit.prix }} €</p>

{% endblock %}