{% extends 'baseAdmin.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<h2 class="pb-5">Liste des produits</h2>

<table class="table table-bordered table-hover table-sm table-dark table-striped text-center">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Image</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Sous-Catégorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for produit in produits %}
            <tr>
                <td class="align-middle">{{ loop.index }}</td>
                <td class="align-middle">{{ produit.nom }}</td>
                <td class="align-middle">{{ produit.description|u.truncate(75, '[...]') }}</td>
                <td class="align-middle">
                    <details> <!-- cache l'image pour qu'elle ne prenne pas trop de place --> 
                        <summary>Voir</summary>
                        <img src="{{ asset('img/produit/') ~ produit.img }}" alt="photo {{ produit.nom }}">
                    </details>
                </td>
                <td class="align-middle">{{ produit.prix }} €</td>
                <td class="align-middle">{{ produit.idCategories.nom }}</td>
                <td class="align-middle">{{ produit.idSousCategories.nom }}</td>
                <td class="align-middle">
                    <a href="{{ path('produit_update', {'id':produit.id}) }}"><i class="fas fa-pen-square"></i></a> | 
                    <a href="{{ path('produit_delete', {'id':produit.id}) }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-right">
    <a href="{{ path('produit_create') }}" class="btn btn-outline-dark">Ajouter un produit</a>
</div>   

{% endblock %}
