<p>Coordonnées du contact :</p>

    <ul class="puces">
        <li><b>Nom :</b> {{ nom }}</li>
        <li><b>Prénom :</b> {{ prenom }}</li>
        <li><b>Email :</b> {{ email }}</li>
        <li><b>Numéro de commande :</b> {{ numerodecommande }}</li>
    </ul>


    <p><b>Motif :</b> {{ motif }}</p>

    <p><b>Description :</b></p>
    <p> {{ description }}</p>

</div>

<style>

    .puces {
        list-style: none;
        padding-left: 2px;
    }
     .container {
         border: 1px solid black;
     }

</style>