<header class="px-3 py-1 mb-5">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand px-3 py-2 fw-bold fw-orbitron" href="{{ path('home') }}" title="">WF-Sport</a>
        
        <div class="collapse navbar-collapse" id="headerNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% for categorie in categories %}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn text-light text-uppercase dropdown-toggle" type="button" id="{{ categorie.nom }}-dropdown" data-bs-toggle="dropdown" aria-expanded="false">{{ categorie.nom }}</button>
                        <ul class="dropdown-menu" aria-labelledby="{{ categorie.nom }}-dropdown">
                            {% for sousCategorie in sousCategories %}
                            <li>
                                <a class="dropdown-item" href="{{ path('produits_souscategories', {'cat': categorie.nom,'sousCat': sousCategorie.nom}) }}">{{ sousCategorie.nom }}</a>
                            </li>
                            {% endfor %} 
                        </ul>
                    </div>
                </li>
                {% endfor %}  
            </ul>
        </div>

        <div id="icons">
            <div class="border border-light p-3 rounded">
                {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_logout') }}" title="Déconnexion">
                <i class="fas fa-sign-out-alt"></i>
            </a>
            {% else %}

            <a href="{{ path('app_login') }}" title="Connexion">
                <i class="fas fa-sign-in-alt"></i>
            </a>
            {% endif %}
            <a href="{{ path('panier') }}" title="Mon panier">
                <i class="bi bi-bag"></i>
            </a>
            </div>
        </div>
    </nav>
</header>